{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1>Lista produktów</h1>
    <div>Znaleziono produktów: {{ list.getTotalItemCount }}</div>
    <br>

    {% for item in list %}
        <div>
            Produkt: {{ item.name }}<br>
            Opis: {{ item.description }}<br>
            Cena: {{ item.price }} PLN
        </div>
        <hr>
    {% endfor %}
    <br>
    {{ knp_pagination_render(list) }}
{% endblock %}